:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #ffffff;

}
body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list > li{
  list-style: none;
}


  /*------------ Header -----------------*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}

.web-logo {
  color: var(--accent-color);
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-list .current {
  color: var(--accent-color);
}
.nav-list a:hover, 
.nav-list a:focus {
  color: var(--accent-color);
}

.contacts-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent-color);
}
  
  /*---------- Hero section ------------*/

.hero-section {
  background: #2F303A;
}
.hero-section > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-section > button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-section > button:hover,
.hero-section > button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

  /*------------- Details -------------------*/

.details-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.details-list p {
  font-size: 14px;
  line-height: 1.7;
}

  /*---------- What we're doing and Our Team ----------*/

.occupation > h2,
.team-section > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
}

.team-section .title{
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.team-section .text {
  font-size: 16px;
  line-height: 1.2;
}

  /*----------- Footer ---------------*/
  
.page-footer {
  background-color: #2F303A;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-white-color);
  text-decoration: none;
}

.item-link > a {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
}

.item-contact > a {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list a:hover,
.address-list a:focus {
  color: var(--accent-color);
}

  /*---------- Portfolio -----------*/

.projects-filters button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.projects-filters button:hover,
.projects-filters button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.projects-card .link {
  text-decoration: none;
}

.projects-card .title {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 2.1;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-card .text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}